<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1><%= @title %></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-inner inner-default clearfix">
    <%= render partial: 'rank_form',
    locals: {ranking_ary: @ranking_ary,
             ranking: @ranking,
             count: @count,
             item_data: @item_data} %>
  </div>
</div>